<div class="modal fade" id="registerFuelModal" tabindex="-1" aria-labelledby="registerFuelModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="combustibleForm" (ngSubmit)="postForm(this.combustibleForm.value)">
        <div class="modal-header">
          <h5 class="modal-title">Registrar Combustible</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-3 mr-3">
          <div class="row form-floating align-items-center mt-3 form-floating mb-3">
            <input class="form-control" id="dateFuelInput" type="date" required placeholder="" formControlName="FECHA" />
            <label for="dateFuelInput">Fecha</label>
          </div>
          <div class="row form-floating align-items-center mt-4 form-floating mb-3">
            <input class="form-control" id="FolioFuelInput" required placeholder="" formControlName="FOLIO" />
            <label for="FolioFuelInput">Folio</label>
          </div>
          <div class="row form-floating align-items-center mt-4 form-floating mb-3" >
            <select class="form-select" id="typeFuelInput" required formControlName="TIPO_COMBUSTIBLE" >
              <option value="gasoline">Gasolina</option>
              <option value="diesel">Diesel</option>
            </select>
            <label for="typeFuelInput">Tipo de Combustible</label>
          </div>
          <div class="row form-floating align-items-center mt-4 form-floating mb-3">
            <input class="form-control" id="litersFuelInput" type="number" required placeholder="" formControlName="LITROS" />
            <label for="litersFuelInput">Litros</label>
          </div>
        </div>
        <div class="modal-footer no-gutters">
          <div class="col">
            <button type="button" class="custom-button return w-100" data-bs-dismiss="modal">Cerrar</button>
          </div>
          <div class="col">
            <button class="custom-button submit" id="saveFuelButton" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
