<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Datos solicitud</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <section style="background-color: rgb(255, 255, 255); margin-top: 140px" id="services" class="services section-bg">
      <div class="container animate__animated animate__fadeInDown">
        <div class="row justify-content-center" style="border: solid; border-radius: 2vh; border-color: rgb(255, 255, 255); box-shadow: -5px 6px 20px 0px rgba(0, 0, 0, 0.753)">
          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            <div class="row">
              <div class="text-center mt-2">
                <img src="https://i.imgur.com/noigPmr.png" height="100" width="130" alt="" />
                <h1>Datos del Vehículo</h1>
              </div>
            </div>

            <!-- form -->
            <form [formGroup]="vehicleForm">
              <div>
                <div class="text-center mt-4">
                  <img id="imagePreview" height="100" width="100" alt="" />
                </div>
                <div class="text-center mt-4" *ngIf="userType === 'Admin'">
                  <button class="custom-button inf w-25" id="searchButton" type="button" (click)="navigateToEdit()">Editar</button>
                </div>
                <div class="row no-gutters form-floating">
                  <div class="col-12 form-floating mt-4 col-md mr-2">
                    <input class="custom-input form-control" id="carPlatesInput" readonly placeholder="" formControlName="PLATES" />
                    <label for="carPlatesInput">Placas</label>
                  </div>
                  <div class="col-12 form-floating mt-4 col-md mr-2">
                    <input class="custom-input form-control" id="carTypeInput" readonly placeholder="" formControlName="TYPE" />
                    <label for="carTypeInput">Tipo de vehiculo</label>
                  </div>
                  <div class="col-12 form-floating mt-4 col-md">
                    <input class="custom-input form-control" id="carBrandInput" readonly placeholder="" formControlName="BRAND" />
                    <label for="carBrandInput">Marca vehiculo</label>
                  </div>
                </div>
                <div class="row no-gutters form-floating">
                  <div class="col-12 form-floating mt-4 col-md mr-2">
                    <input class="custom-input form-control" id="carModelInput" readonly placeholder="" formControlName="SUB_BRAND" />
                    <label for="carModelInput">Sub-Marca vehiculo</label>
                  </div>
                  <div class="col-12 form-floating mt-4 col-md mr-2">
                    <input class="custom-input form-control" id="carColorInput" readonly placeholder="" formControlName="COLOR" />
                    <label for="carColorInput">Color</label>
                  </div>
                  <div class="col-12 form-floating mt-4 col-md">
                    <input class="custom-input form-control" id="carSerialNumberInput" readonly placeholder="" formControlName="SERIAL_NUMBER" />
                    <label for="carSerialNumberInput">Numero de serie</label>
                  </div>
                </div>
                <div class="row no-gutters form-floating">
                  <div class="col-12 form-floating mt-4 col-md">
                    <input class="custom-input form-control" id="carDepartmentInput" readonly placeholder="" formControlName="DEPARTMENT" />
                    <label for="carDepartmentInput">Departamento</label>
                  </div>
                </div>
              </div>
            </form>

            <!-- buttons -->
            <div class="row no-gutters form-floating mt-4">
              <div class="col-12 col-md mr-2 mt-2" *ngIf="userType === 'Admin'">
                <button class="custom-button submit" id="registerServiceButton" type="button" data-bs-toggle="modal" data-bs-target="#registerServiceModal">Registrar Servicio</button>
              </div>
              <div class="col-12 col-md mr-2 mt-2" *ngIf="userType === 'Admin'">
                <button class="custom-button submit" id="registerInsuranceButton" type="button" data-bs-toggle="modal" data-bs-target="#registerInsuranceModal">Registrar Aseguranza</button>
              </div>
              <div class="col-12 col-md mt-2" *ngIf="userType === 'Admin'">
                <button class="custom-button submit" id="registerFuelButton" type="button" data-bs-toggle="modal" data-bs-target="#registerFuelModal">Registrar Combustible</button>
              </div>
            </div>

            <!-- table services -->
            <div class="mt-4">
              <div class="row no-gutters form-floating" *ngIf="userType === 'Admin'">
                <div class="col mt-4">
                  <h3 class="text-center">Servicios</h3>
                  <table class="table table-striped table-hover text-center table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Kilometraje</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let service of services | paginate: { itemsPerPage: 3, currentPage: currentPage.services, id: 'servicesTable' }; let i = index">
                        <td>{{ (currentPage.services - 1) * 3 + (i + 1) }}</td>
                        <td>{{ service.date }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.kilometers }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <pagination-controls id="servicesTable" (pageChange)="currentPage.services = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </div>

              <!-- table insurances -->
              <div class="row no-gutters form-floating" *ngIf="userType === 'Admin'">
                <div class="col mt-4">
                  <h3 class="text-center">Aseguranzas</h3>
                  <table class="table table-striped table-hover text-center table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let insurance of insurances | paginate: { itemsPerPage: 3, currentPage: currentPage.insurances, id: 'insurancesTable' }; let i = index">
                        <td>{{ (currentPage.insurances - 1) * 3 + (i + 1) }}</td>
                        <td>{{ insurance.date }}</td>
                        <td>{{ insurance.description }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <pagination-controls id="insurancesTable" (pageChange)="currentPage.insurances = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </div>

              <!-- table fuel -->
              <div class="row no-gutters form-floating" *ngIf="userType === 'Admin'">
                <div class="col mt-4">
                  <h3 class="text-center">Combustible</h3>
                  <table class="table table-striped table-hover text-center table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Folio</th>
                        <th scope="col">Tipo de Combustible</th>
                        <th scope="col">Litros</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let fuel of fuels | paginate: { itemsPerPage: 3, currentPage: currentPage.fuels, id: 'fuelsTable' }; let i = index">
                        <td>{{ (currentPage.fuels - 1) * 3 + (i + 1) }}</td>
                        <td>{{ fuel.date }}</td>
                        <td>{{ fuel.folio }}</td>
                        <td>{{ fuel.fuelType }}</td>
                        <td>{{ fuel.liters }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <pagination-controls id="fuelsTable" (pageChange)="currentPage.fuels = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>

            <!-- return button -->
            <div class="row justify-content-center mt-4 mb-5">
              <button class="custom-button return w-25" id="returnButton" type="button" (click)="verVolver()">Volver</button>
            </div>
          </div>
        </div>
      </div>

      <!-- modals -->
      <app-service-modal *ngIf="userType === 'Admin'" />
      <app-insurance-modal *ngIf="userType === 'Admin'" />
      <app-fuel-modal *ngIf="userType === 'Admin'" />
    </section>
  </body>
</html>
