a {
  color: aqua;
}

//

$custom-input-bg: rgb(223, 223, 223);
$return-button-bg: rgb(158, 5, 2);
$submit-button-bg: rgb(6, 46, 132);
$return-button-hover-shadow: rgba(158, 5, 2, 0.753);
$submit-button-hover-shadow: rgba(2, 65, 158, 0.753);
$inf-button-bg: rgb(76, 152, 175);
$inf-button-hover-shadow: rgba(76, 152, 175, 0.753);

.custom-input {
  height: 6vh;
  background-color: $custom-input-bg;
  border-radius: 0.5vh;
  font-weight: bold;
}

.custom-button {
  color: aliceblue;
  border-radius: 5px;
  border: solid 10px;
  height: 100%;
  width: 100%;

  &.submit {
    background-color: $submit-button-bg;
    border-color: $submit-button-bg;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px 0 $submit-button-hover-shadow;
    }
  }

  &.return {
    background-color: $return-button-bg;
    border-color: $return-button-bg;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px 0 $return-button-hover-shadow;
    }
  }

  &.inf {
    background-color: $inf-button-bg;
    border-color: $inf-button-bg;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px 0 $inf-button-hover-shadow;
    }
  }
}


