
#boton1:hover{
  transform: scale(1.05);
  box-shadow: -5px 6px 20px 0px rgba(158, 5, 2, 0.753);
 }
 #boton2:hover{
  transform: scale(1.05);
  box-shadow: -5px 6px 20px 0px rgba(2, 65, 158, 0.753);
 }
